/* Palette  @import "palette" */
////////////////////////////////////////////
// SCHEME  - Set the values for the palette to be generated.  See https://github.com/at-import/color-schemer
// Pick a color for your scheme:
$picked-color: #275183;
$sat:  saturation($picked-color);
$light:  lightness($picked-color);


// Center the hue of picked color in the middle
$cs-primary: hsl(hue($picked-color), 50%, 50% );
// $cs-primary: set-saturation($temp, 50% );




// Select your scheme from the list and place it here:
$cs-scheme: tetrad; // mono, complement, triad, tetrad, analogic, accented-analogic
// How distant do you want the hue offset to be:
$cs-hue-offset: 30;
// How distant do you want tints and shades to be from their base:
$cs-brightness-offset: 0;
$cs-color-model: ryb; // rgb, ryb
$cs-colorblind: deuteranopia; // protanopia, deuteranopia, tritanopia, protanomaly, deuteranomaly, tritanomaly, monochromacy, amonochromacy

// Do you want to “harmonize” your color scheme with photoshop-like blendmodes?
// See Erica Schoonmaker's technique: http://methodandcraft.com/videos/creating-harmonious-color-schemes
// Modes:
// null (no effect), normal, multiply, lighten, darken, darkercolor, lightercolor, lineardodge, linearburn,
// difference, screen, exclusion, overlay, softlight, hardlight, colordodge, colorburn, linearlight,
// vividlight, pinlight, hardmix, colorblend, dissolve, divide, hue, luminosity, saturation, subtract
$cs-harmonize-mode : null;
// What is your common harmonizing color?
$cs-harmonize-color : $cs-primary;
// How strong do you want the effect to be?
$cs-harmonize-amount : 10%;


//  Generate set of your four main colors based on the settings above
$primary : cs-primary();
$secondary : cs-secondary();
$tertiary : cs-tertiary();
$quadrary : cs-quadrary();

$color-set:  primary, secondary, tertiary, quadrary;

// @mixin color-set-classes($spread:10%) {
// 	@each $hue in $color-set {
// 		.#{$hue} {@include contrasted(cs-primary())}
// 		}
// }	
$i=1;
@mixin color-set-classes($spread:10%) {
 	@each $hue in $color-set {
 		$hue 
 			

@include color-set-classes()



//  @for $i from -2 through 2 



// .primary {@include contrasted($primary)}
// .secondary {@include contrasted($secondary)}
//.tertiary {@include contrasted(cs-tertiary()}
// 

// --------------------------------------------------------------------------------/

