////
/// @author   David Kebler
// COLOR
/// set a background and text color  $type 
@mixin selector-colors($selector-name, $color, $offset-factor:1) {
  
  @if $offset-factor > 0 
  {$color: tint($color, $ts-offset*$offset-factor);} @else 
     { $color: shade($color, -1*$ts-offset*$offset-factor);}

  #{$selector-name} {
    background: $color;
    @if cs-is-dark($color) == true
    {color: white;} @else 
      { color: black;}
    }
  }
