<!-- <header>

    {{ partial "header/topbar.html" . }} 
    {{ partial "header/logobar.html" . }} 
     

</header> -->
<header role="banner">
  <nav role="navigation">
    <ul>
      <li>
        <a href="/">
          <div>
            Home
            <span>there's no place like it</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/blog">
          <div>
            Blog
            <span>my thoughts rock</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/contact">
          <div>
            Contact
            <span>drop me a line</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/forum">
          <div>
            Forum
            <span>chat with others</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
