<main>
        <aside class="sidebar">
          <div id="tag__cloud" class="box">Tag Cloud </div>
          <div id="tag__article" class="box">Article Tags</div>
           <div id="sidebar__nav" class="box" >Extra Nav </div>
           <div id="notices" class="box">Notices</div>
        </aside>
        <section id="content">
          <div class="article__heading">
            <h2> A Heading</h2>
          </div>
          <article data-lorem="10p">  
          </article>
        </section> 
       </main>  