<div class="row">
<ul class="small-block-grid-4"> 
  <li class ="primary">Text</li>
  <li class ="secondary">Text</li> 
  <li class ="tertiary">Text</li> 
  <li class ="quadrary">Text</li> 
</ul>
</div>

<!-- <div class="row">
<ul class="small-block-grid-5"> 
  <li class ="primary base">Text</li>
  <li class ="primary light">Text</li> 
  <li class ="primary lighter">Text</li> 
  <li class ="primary dark">Text</li> 
  <li class ="primary darker">Text</li> 
</ul>
</div> -->

<div class="row" data-equalizer>
  <article class="small-12 medium-9 push-3 columns" data-equalizer-watch>
    <h2>Non velit reiciendis doloribus consectetur quod adipisci sunt dolor minima a provident minus nihil? Non velit reiciendis doloribus consectetur quod adipisci sunt dolor minima a provident minus nihil</h2>
        {{ .Content }}
	</article>
	<aside class="small-12 medium-3 pull-9 columns sidebar" data-equalizer-watch>
      <h4>Lorem ipsum dolor sit amet, </h4>
     </aside>
</div>



