<div class="large-3 pull-9 columns">
  <div class="sidebar">
    {{ if .Site.Params.sidebartitle }}<h1 class="brand-title">{{ .Site.Params.sidebartitle }}</h1>{{ end }}
    {{ if .Site.Params.sidebartagline }}<h2 class="brand-tagline">{{ .Site.Params.sidebartagline }}</h2>{{ end }}

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .Site.BaseUrl }}">Home</a></li>
        {{ range .Site.Menus.main }}
          <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .Url }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

<!--         {{ range .Site.Sections }}
          <li><p>Some URL</p></li>
          {{ end }} -->

    {{ partial "body/socialsharing.html" . }}      

    <p>some text</p>


    {{ if .Site.Menus.social }}
    <div class="social-buttons">
      {{ range .Site.Menus.social }}
        {{ if .Url }}
        <a href="{{ .Url }}" target="_blank">Icon{{ .Pre }}</a>
        {{ end }}
      {{ end }}
      
    </div>
    {{ end }}

  </div>
</div>

