/* http://www.crockford.com/wrrrld/color.html */
$pickacolor:forestgreen;

$base-bg-color: hsl(hue($pickacolor), 50%, 50%);
$base-text-color: oldlace;
$header-bg-color: shade($base-bg-color, 80%);
$page-bg-color: tint($base-bg-color, 70%);
$page-text-color: shade($base-bg-color, 80%);

$topbar-bg-color: shade($base-bg-color, 50%);
$topbar-text-color: oldlace;
$topbar-height: 4em;
$footer-bg-color: shade($base-bg-color, 70%);
$footer-text-color: $base-text-color;

$box-bg-color: tint($base-bg-color, 50%);

.box {
  padding: 1em;
  background: $box-bg-color;
  margin: 1em;
}


body{
  background: $base-bg-color;
  color:$base-text-color;
  margin:0;
  padding:0;
}


header {
  position:fixed;
  top:0;
  z-index:1;
  height:200px;
  background: $header-bg-color;
  width:100%;
  margin: 0;
  padding:0;
}

#page { 
  position:relative;
  background: $page-bg-color;
  color: $page-text-color;
  z-index:10;
  margin: 200px auto 150px auto;
}



#topbar  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $topbar-height;
  background: $topbar-bg-color;
  color: $topbar-text-color;
  font-size: 1em;
}

#topbar__sitename {
  flex: 1;
  background: tint($topbar-bg-color,15%);
}

#topbar__nav {
  flex: 2;
  background: tint($topbar-bg-color,30%);
  }

#topbar__search {
  flex: 1;
  background: tint($topbar-bg-color,45%);
}


#topbar__language{
 flex: 1;
  background: tint($topbar-bg-color,60%);
}

main {
  background: beige;
  margin: 0 5em;
  padding: 0 0 0 2em;
}

main {
  display: flex;
  flex-direction: column;
}

#content {
  padding:0 3em;
}

aside {
  order: -1;
  display:flex;
  flex-direction: column;
  align-content:flex-start;

}

.sidebar .box {
}

#tag__cloud { 
  flex:0;
   }

#tag__article { 
  flex:0;
   }

#sidebar__nav { 
  flex:0;
   }

#notices { 
  flex:0 0 20%;
   }


@media (min-width: 768px) {
  main {
    flex-direction: row;
    flex: 1;
  }
  #content {
    flex: 0 0 50em;

  }
  aside {
    /* 12em is the width of the columns */
    flex: 1;
  }
}

footer {
  width: 100%;
  height:150px;
  position: fixed; left: 0; bottom: 0;
  z-index: 1;
 background: $footer-bg-color;
 color: $footer-text-color;
  padding: 0 3em;
}

.figure--center {
   display: flex;
   justify-content: center;
   align-items: center;
}


